<ion-grid>
  <ion-row>
    <ion-col size="9">
      <h3>{{title}}</h3>
    </ion-col>
    <ion-col size="3" class="ion-text-right">
      <h6 class="show-more">ver mas</h6>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-slides pager="false" [options]="slideOpts">
  <ion-slide *ngFor="let item of items">
    <ion-card [routerLink]="[type, item.id]" [ngStyle]="{'background-size': 'cover', 'background-image': 'url(https://image.tmdb.org/t/p/w500'+item.poster_path+')'}">
      <ion-card-content class="ion-text-left">
        <h3 class="ion-text-uppercase">{{item.original_title}}</h3>
        <h5>Ryan Gosling</h5>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <star-rating [value]="item.vote_average/2" totalstars="5" checkedcolor="white" uncheckedcolor="transparent" size="22px" readonly="false"></star-rating>
            </ion-col>
            <ion-col size="3" class="ion-text-right">
              <ion-button class="no-ripple" (click)="onClick()" fill="clear">
                <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
