<ion-header class="ion-no-border" [translucent]="true">

  <ion-toolbar>

    <ion-title class="ion-text-uppercase">
      <strong>X9</strong>cinema
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showSearchBar()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <div class="searchbar">
    <ion-searchbar class="animate__animated animate__fadeInDown animate__faster" *ngIf="showIonSearchBar" placeholder="Buscar Película" animated inputmode="text" mode="ios" [debounce]="250" (ionChange)="onSearchChange($event)"></ion-searchbar>
  </div>

</ion-header>

<ion-content [fullscreen]="true" scroll="true" class="ion-padding">
  <h3>Mi Lista</h3>
</ion-content>
