/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

::-webkit-scrollbar, *::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

ion-content {
  overflow: auto;
  --overflow: auto;
  overflow-y: auto;
}

.scroll-content {
  overflow: hidden;
  padding-bottom: 5rem;
}

.segment-button-checked {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light) !important;
  border-radius: 20px;
}
ion-segment-button {
  --indicator-color: transparent !important;
  --indicator-color-checked: transparent !important;
}
ion-segment-button ion-label {
  text-transform: capitalize;
  font-weight: 700;
}
ion-tab-bar {
  height: 75px;
  --ion-background-color: white;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

ion-card {
  margin: 0px;
  width: 100%;
  height: 310px;
  -webkit-border-radius: 25px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius: 25px;
  -moz-border-radius-topleft: 10px;
  border-radius: 25px;
  border-top-left-radius: 10px;
}

ion-card-content {
  bottom: 0;
  position: absolute;
  width: 100%;
}

ion-card-content h3 {
  color: white !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}
ion-card-content h5 {
  color: white !important;
  font-size: 15px !important;
}
ion-grid, ion-col {
  padding: 0px !important;
}
.no-ripple {
  --ripple-color: transparent;
}
.show-more {
  font-size: 14px;
  line-height: 26px;
}
