<ion-header class="ion-no-border" [translucent]="true">

  <ion-toolbar>

    <ion-title class="ion-text-uppercase">
      <strong>X9</strong>cinema
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showSearchBar()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <div class="searchbar">
    <ion-searchbar class="animate__animated animate__fadeInDown animate__faster" *ngIf="showIonSearchBar" placeholder="Buscar Película" animated inputmode="text" mode="ios" [debounce]="250" (ionChange)="onSearchChange($event)"></ion-searchbar>
  </div>

</ion-header>

<ion-content [fullscreen]="true" scroll="true" class="ion-padding">

  <ion-segment (ionChange)="segmentChanged($event)" scrollable value="todos">

    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>

    <ion-segment-button *ngFor="let genre of genres" [value]="genre.id">
      <ion-label>{{genre.name}}</ion-label>
    </ion-segment-button>

  </ion-segment>

  <div class="movies-section">
    <app-item-slide [items]="movies" title="Películas" type="movie"></app-item-slide>
  </div>

  <div class="series-section">
    <app-item-slide [items]="series" title="Series" type="serie"></app-item-slide>
  </div>

</ion-content>
